<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    
    <script type="text/javascript">
// <!-- 
//     var getJSON = function(url, callback) {
//     var xhr = new XMLHttpRequest();
//     xhr.open('GET', url, true);
//     xhr.responseType = 'json';
//     xhr.onload = function() {
//       var status = xhr.status;
//       if (status === 200) {
//         callback(null, xhr.response);
//       } else {
//         callback(status, xhr.response);
//       }
//     };
//     xhr.send();
//     };

//     getJSON('http://localhost:3000/api/patient',
// function(err, data) {
//   if (err !== null) {
//     alert('Something went wrong: ' + err);
//   } else {
//     console.log(data)
//     alert('Your query count: ' + JSON.stringify(data)); //Got it ! now TODO the for each and append the table
//   }
// });
//      -->
    </script>

  </head>
  <body>
    <div class="index-page">
      <div class="form">
          <h1>Insert a Patient</h1>
          <form class="patient-form" method="POST" action="/api/patient">
            <input name="Name" type="text" placeholder="Name of the Patient"/>
            <input name="BirthDate" type="text" placeholder="Date of Birth"/>
            <input name="In_Incubator" type="text" placeholder="Is he/she in the incubator n°"/>
            <button type="submit">POST</button>
          </form>
          
      <h1>Insert a weight sensor</h1>
        <form class="weight_sensor-form" method="POST" action="/api/weight_sensor">
          <input name="Value" type="text" placeholder="Value the sensor"/>
          <input name="Patient" type="text" placeholder="ID of the Patient related"/>
          <button type="submit">POST</button>
        </form>
      </div>
    </div>

    <table id= "entrydata">
        <thead>
                <th>ID</th>
                <th>Name</th>
                <th>BirthDate</th>
            </thead>
          <tbody>
        
           </tbody>
        </table>

  </body>
</html>
