<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
    <script src="/javascript/scriptjs.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Inclusion de bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

   <!-- Inclusion de fontAwesome-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="" alt="" class="hidden-xs hidden-sm">
                        <img src="" alt="" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li><a href='/'><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href='/incubators'><i class="fas fa-chart-bar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Incubators</span></a></li>
                        <li class="active"><a href='/team'><i class="fab fa-accessible-icon" aria-hidden="true"></i><span class="hidden-xs hidden-sm">The Team</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- The Team-->
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                    <section id="team" class="pb-5">
                            <div class="container">
                                <h1 class="section-title pageTitle">This is our Team</h1>
                                <div class="row">
                                    <!-- Team member -->
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    <div class="card">
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="https://bit.ly/2SyyJVF" alt="card image"></p>
                                                            <h4 class="card-title">Jean Sannac</h4>
                                                            <p class="card-text">Network Layer Developer</p>
                                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="backside">
                                                    <div class="card">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Advanced Electronics INSA Student</h4>
                                                            <p class="card-text">Lorem Ipsum...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./Team member -->
                                    <!-- Team member -->
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    <div class="card">
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="https://bit.ly/2LMJlxA" alt="card image"></p>
                                                            <h4 class="card-title">Maxime Rocher</h4>
                                                            <p class="card-text">Front-end / Back-end developer</p>
                                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="backside">
                                                    <div class="card">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">ISIS Student</h4>
                                                            <p class="card-text">Lorem Ipsum</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./Team member -->
                                    <!-- Team member -->
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    <div class="card">
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="https://bit.ly/2Swvmyf" alt="card image"></p>
                                                            <h4 class="card-title">Remy Dubois</h4>
                                                            <p class="card-text">Sensor Layer Developer</p>
                                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="backside">
                                                    <div class="card">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">Advanced Electronics INSA Student</h4>
                                                            <p class="card-text">Lorem Ipsum...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./Team member -->
                                    <div class="col-xs-12 col-sm-6 col-md-4"></div>
                                    <!-- Team member -->
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                            <div class="mainflip">
                                                <div class="frontside">
                                                    <div class="card">
                                                        <div class="card-body text-center">
                                                            <p><img class=" img-fluid" src="https://bit.ly/2R5Geq6" alt="card image"></p>
                                                            <h4 class="card-title">Arthur Laudereau</h4>
                                                            <p class="card-text">Project Owner / Back-end developer</p>
                                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="backside">
                                                    <div class="card">
                                                        <div class="card-body text-center mt-4">
                                                            <h4 class="card-title">ISIS Student</h4>
                                                            <p class="card-text">Lorem ipsum...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./Team member -->
                        
                                </div>
                            </div>
                        </section>
            </div>
        </div>
    </div>

<!-- Footer -->
  <footer class="footer pt-2 fixed-bottom">

    <!-- Footer Elements -->
    <div class="footer-text container text-center">
      <a class=""> Fumer ce front-end est dangereux pour la santé</a>
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright :
      <a href=""> Baby Incubator</a>
    </div>
    <!-- Copyright -->

  </footer>

  </body>